@import-normalize;

.App {
  text-align: center;
}

.app-title {
  background-color: black;
  color: white;
  height: 200px;
  line-height: 200px;
  vertical-align: middle;
  font-size: 40px;
  margin: 0;
}
