
* {
    box-sizing: border-box;
}

.book-details {
    height: 350px;
    border-bottom: solid 1px black;
    width: 100%;
}

.book-image-container {
    display: inline-block;
    width: 20%;
    padding-left: 15px;
    text-align: left;
}

.book-image-container img {
    width: 100%;
}

.book-details-text {

    width: 80%;
    display: inline-block;
    vertical-align: top;
    margin: 0;
}

.book-author, .book-price {
    margin: 0;
}